
body{
    background-color:aliceblue;
}
main{
     margin: 1em .8em;
}
video{
    width: 100%;
    border-radius: 10px;
}
#container{
    position: relative;
}
.video-actions{
    width: 300px;
    position: absolute;
    bottom: 40px;
    left: 40%;
}
#video-control{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.control{
    height: 100px;
    width: 100px;
    /* flex: 1; */
    border-radius: 10px;
    background-color: white;
}